<h1 style= 'color:green' > LOGIN </h1>
<% if flash[:notice] %>
<h2><%= flash[:notice] %></h2>
<% end %>


<%= form_tag("/sessions") do %>
<%= label_tag "Email" %>
<%= text_field_tag "email" %>
<%= submit_tag "Register" %>
<% end %>
