<h1 >Welcome to Collabo the leading creative Collaboration site !</h1>
<h1 style= 'color:green' > Register to find a Collabo</h1>


<%= form_tag("/users") do %>
<p>
<%= label_tag "email", "Email:" %>
<%= text_field_tag "email" %>
</p>

<p>
<%= label_tag "password",  "Password:"%>
<% if @user && @user.errors[:password] %>
<pstyle= 'color:red'>Please include a password</p>
<%= password_field_tag "password" %>
<% end %>
</p>

<%= submit_tag "Register" %>
<% end %>
